*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    outline: 0;

}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  
}


header{
    height: auto;
    background-color:#1F2937;
    padding:2% 10%;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    color:#F9FAF8;
    font-size: 24px;
}
.nav-links{
    display: flex;
    gap: 1em;
}

.nav-links a, main p{
     font-size: 18px;
    color: #E5E7EB;
}
main{
    display: flex;
    padding: 10% 0;
    gap: 10px;
    
}
main div{
    flex: 1;
}
h1{
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900
}
button{
    background-color: #3882F6;
    color: white;
    width: 120px;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    margin-top:0.5em;
}
.placeholder{
    width: 100%;
    background-color: #939ba9;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
p{
    line-height: 1.2em;
}

/* Section two */
section.information{
    padding: 4% 18% 10%;
    
}
h2{
    text-align: center;
    margin-bottom: 2em;
}

.cards-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.card{
    width:150px;
}


.img-container{
    flex: 1;
    width:150px;
    height: 150px;
    outline: 2px solid #3882F6;
    border-radius: 10px;
}
.card p{
  margin-top: 0.5em;
}